.card {
    max-width: 70%;
    border-radius:1rem
}

.card-body {
    font-size: 25px;
    border-radius: 20px;
}

.textSinDatos {
    background-color: #000000b5;
    color: white;
    display: inline;
    border-radius: 20px;
    padding: 1%;
}

.card-title{
    padding-top: 1%;
    text-align: center;
    font-size: 50px;
}

.card-temp{
    padding-top: 1%;
    text-align: center;
    font-size: 80px;
}

.card-description{
    padding-top: 2%;
    font-size: 25px;
    text-align: center;
}

.card-temp-max-min{
    padding-top: 1%;
    font-size: 22px;
    text-align: center;
}

#colDate{
    text-align: center;
}

.row{
    margin-bottom: 5px;
    align-items: center;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 1000px) {
    .card {
        max-width: 90%;
    }
    #colDescription{
        display: none;
    }
    .bar {
        padding-right: 10px;
    }
    #colDate{
        text-align: left;
        padding-right: 0px;
        width: 100px !important;
    }
    #colIcon{
        display: contents;
        padding-left: 0px;
        padding-right: 0px;
    }
}