body{
  /*background-image: url(./img/fondo.jpg);*/
  background-image: url("https://images.pexels.com/photos/3889865/pexels-photo-3889865.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  text-align: center;
}